<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Something is wrong</title>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8f9fa;
      }
      .container {
        border: 3px solid #000;
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
        text-align: center;
      }
      .image-container {
        margin-bottom: 20px;
      }
      .image-container img {
        width: 25%;
        border-radius: 10px;
      }
      .title {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .button {
        background-color: #007bff;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="image-container">
        <img
          src="https://banner2.cleanpng.com/20171202/df4/red-cross-mark-download-png-5a2245b1788c42.6100558715121955054938.jpg"
          alt="Error Image"
        />
      </div>
      <div class="title">Something is wrong</div>
      <button class="button">Back Home</button>
    </div>
  </body>
</html>
